<ion-header>
  <ion-navbar>

    <ion-buttons start>
      <button ion-button menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>
      <button ion-button *ngIf="_us.activo()" (click)="_us.cerrar_session()">
        Salir
      </button>
    </ion-buttons>

    <ion-title>
      Mi Tienda
    </ion-title>

    <ion-buttons end>
      <button ion-only ion-button (click)="_cs.ver_carrito()" >
        <ion-icon name="cart"></ion-icon>
        <ion-badge color="danger"
                   class="carrito_numero"
                   *ngIf="_cs.items.length > 0">
                {{ _cs.items.length }}
        </ion-badge>
        &nbsp;
        &nbsp;
      </button>
    </ion-buttons>

  </ion-navbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row>
      <ion-col col-6 col-md-4 col-lg-3 col-xl-3 *ngFor="let item of _ps.productos" (click)="enviarProducto( item )">
        <div>
          <img [src]="item.codigo | imagen" >
          <p>
            {{ item.producto }}
            <br>
            {{ item.precio_compra | currency:'USD':true }}
          </p>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

  <ion-infinite-scroll (ionInfinite)="siguiente_pagina($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>


</ion-content>
